body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #d4c5dc, #c9cce8, #bbd4ef, #aedcef, #a8e3e8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .reminder-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: auto;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }

  .time {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }