body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #d4c5dc, #c9cce8, #bbd4ef, #aedcef, #a8e3e8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  