body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #d4c5dc, #c9cce8, #bbd4ef, #aedcef, #a8e3e8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .reminder-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: auto;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }

  .time {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 50%;
    padding: 10px;
    background-color: #4895ef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #4361ee;
  }
  
  #reminders {
    text-align: left;
  }
  
  #medReminderList {
    list-style-type: none;
    padding: 0;
  }
  
  #medReminderList li {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #medReminderList button {
    width: 25%;
    background-color: #dc3545;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  #medReminderList button:hover {
    background-color: #c82333;
  }
   